* {
    padding: 0px;
    margin: 0px;
}

#menu {
    width: 100%;
    height: 9vh;
    background: #42a3d6 url(/forgot_form/image_captcha/zingid.png) no-repeat;
    background-size: 150px auto;
    background-position: 15px 6px;
}

#myform {
    width: 530px;
    margin: 0 auto;
    padding-top: 30px;
}

#myform h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: normal;
}

#myform .check-label {
    padding-bottom: 8px;
    font-weight: bold;
    line-height: normal;
    font: 16px;
    display: block;
}

#myform #question {
    margin-top: 45px;
}

#myform #input1 {
    height: 46px;
    width: 530px;
}

#myform #label {
    padding: 5px 0px 5px 15px;
    color: #666;
}

#myform #check_people {
    margin-top: 25px;
}

#myform #check_people span {
    padding-bottom: 8px;
    font-weight: bold;
    line-height: normal;
    font: 16px;
}

#myform #check_people .text1 {
    margin-left: 250px;
}

#myform #check_people .check {
    margin-top: 5px;
    height: 104px;
    width: 530px;
}

#input {
    height: 50px;
}

#img1 {
    margin-top: 17px;
}

#down {
    margin-top: 10px;
}

#down p {
    padding-bottom: 8px;
    font-weight: bold;
    line-height: normal;
    font: 16px;
}

#down input {
    height: 30px;
}

#button_2 {
    margin-top: 20px;
}

#button_2 button {
    height: 44px;
    width: 80px;
    border-radius: 10px;
    font-size: 15px;
}

#button_2 #button2_2 {
    margin-left: 10px;
    background: rgb(124, 124, 247);
}

#fasfa-sync {
    margin-left: 30px;
}

#fasfa-sync i {
    font-size: 20px;
    color: blueviolet;
}

#footer {}