<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
<a th:href="@{/create-category}">Create new category</a>
<h1>category</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="categ : ${category}">
        <tr>
            <td th:text="${categ.id}"></td>
            <td th:text="${categ.name}"></td>
            <td><a th:href="@{/edit-category/__${categ.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${categ.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>