table {
    height: 500px;
    width: 500px;
    border-collapse: collapse;
}

.container2 {
    height: 50px;
    width: 50px;
    background-color: black;
}

.container1 {
    height: 50px;
    width: 50px;
    background-color: white;
}

.chess {
    background-color: green;
    text-align: right;
}

h1 {
    text-align: center;
}

table {
    margin-left: 500px;
}