<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Customer Information</title>
</head>
<body>
<form action="/customers/save" method="post" th:object="${customer}">
    <fieldset>
        <legend>Customer Information</legend>

        <table>
            <tr>

            </tr>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" name="firstName" th:field="*{firstName}">
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" name="lastName" th:field="*{lastName}">
                </td>
            </tr>
            <tr>
                <td>Province:</td>
                <td>
                    <select th:field="*{province}">
                        <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Update">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<a href="/customers">Back to list</a>.
</body>
</html>