<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blogs</title>
</head>
<body>
<h1>Edit Blogs</h1>
<p>
    <a href="/blogs">Blogs list</a>
</p>
<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form action="/blogs/edit"  method="post">
    <input type="hidden" name="id" th:value="${blogs.id}">
<!--    <input type="text" name="firstName" th:value="${customer.firstName}">-->
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="${blogs.title}" name="title"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="${blogs.content}" name = "content"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update Blogs"></td>
        </tr>
    </table>
</form>
</body>
</html>